{% extends 'bookphone/base.html' %}

{% load staticfiles %}
{% load static %}


{% block content%}
<div class=right_col>
    <div class="x_panel">
        <div class="row">
            <div class="col-md-8">
                <h1>hola mundo</h1>
            </div>
            <div class="col-md-4">
                <li><a href="form.html"> Despacho primera Dama</a></li>
                <li><a href="form_advanced.html">Direccion Departamental de Auditoria Interna</a></li>
                <li><a href="form_validation.html">Direccion Departamental Juridica</a></li>
                <li><a href="form_wizards.html">Unidad de Apoyo a Secretarias</a></li>
                <li><a href="form_upload.html">Unidad de Comunicación Social</a></li>
                <li><a href="form_buttons.html">Unidad de Seguridad Ciudadana</a></li>
                <li><a href="form_buttons.html">Unidad de Transparencia</a></li>
                <li><a href="form_buttons.html">Unidad Gestoria de la Paz</a></li>
            </div>
        </div>
    </div>
</div>

{% endblock%}
