{% extends 'bookphone/base.html' %}

{% load staticfiles %}
{% load static %}
{% load utils %}
{% block content %}

<div class=right_col>
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-10" align="right">
                    <div class="page-title" align="center">
                        <h3><font face="Cooper Black"><h3>NUEVA SECRETARIA</h3></font></h3>

                    </div>
                </div>
                <div class="row">
                    {% block home %}
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="" align="center">
                                        <div class="container">
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <td colspan="">
                                                        <form method="POST" class="well form-horizontal">{% csrf_token %}
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><h5>{{form.name.label}}</h5></label>
                                                                <div class="col-md-9">
                                                                    <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-user"></i>
                                                                    </span>
                                                                        {{ form.name}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><h5>{{form.number.label}}</h5></label>
                                                                <div class="col-md-9">
                                                                    <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                                                    </span>
                                                                        {{ form.number}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><h5>{{form.fax.label}}</h5></label>
                                                                <div class="col-md-9">
                                                                    <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-print"></i>
                                                                    </span>
                                                                        {{form.fax}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><h5>{{form.address.label}}</h5></label>
                                                                <div class="col-md-9">
                                                                    <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-screenshot"></i>
                                                                    </span>
                                                                        {{form.address}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><h5><font style="text-transform: uppercase;">{{form.lat.label}}</font></h5></label>
                                                                <div class="col-md-9">
                                                                    <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                                    </span>
                                                                        {{form.lat}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"><h5><font style="text-transform: uppercase;">{{form.lng.label}}</font></h5></label>
                                                                <div class="col-md-9">
                                                                    <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                                    </span>
                                                                        {{form.lng}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div align="center">
                                                                <button type="submit" class="btn btn-dark"><span class="glyphicon glyphicon-saved"></span>  CREAR NUEVO</button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <div class=" clearfix" align="center">
                                    <h2><img src="{% static 'build/images/ubi.png' %}"> SELECCIONE UBICACION </h2>
                                </div>
                            </div>
                            <div class="col-12 box box-body" onload="initialize()">
                                <div class="white-box">
                                    <div id="gmaplocation" class="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% include 'bookphone/url_maps.html' %}
<script type="text/javascript">
        var map;
        var markers = [];
        function initialize() {
            var myLatlng = new google.maps.LatLng(-19.5874135,-65.7624432);
            var myOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            map = new google.maps.Map(document.getElementById("gmaplocation"), myOptions);
            // marker refers to a global variable

            google.maps.event.addListener(map, "click", function (event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("id_lat").value = clickLat;
                document.getElementById("id_lng").value = clickLon;
                clearMapOnAll(null);

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(clickLat, clickLon),
                    map: map
                });
                markers.push(marker)
            });
        }
        function clearMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        window.onload = function () {
            initialize()
        };





</script>
{% endblock %}